{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Petition - 500</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="{% url geocal_list %}">{% trans "GeoCalendar" %}</a>
            {% comment %}
            <ul class="nav">
                <li class="active"><a href="{% url campaign_list %}">{% trans "Active petitions" %}</a></li>

            </ul>
            {% endcomment %}
        </div>
    </div>
</div>

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Internal server error - 500 500 500!</h1>

        <p>An unexpected error happen, the admins should have received an notification about this error by email. you may also contact norrs and describe what you did to cause this error message in case it is a fatal bug in the GeoCalendar!</p>

        <p><a class="btn primary large">Learn more &raquo;</a></p>
    </div>


    {% include "footer.html" %}

</div>
<!-- /container -->

</body>
</html> 