{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block content %}

    {% if error_message %}
        <div class="alert-message error">
            <a class="close" href="#">×</a>

            <p>{{ error_message }}</p>
        </div>
    {% endif %}

    <h3 class="pull-right"><a href="{% url geocal_events_month event.entry_date.year event.entry_date.month %}">Back to
        calendar
        events</a></h3>
    <h3>{{ event.title }}</h3>
    <p>{{ event.description|markdown }}</p>

    {% load uni_form_tags %}
    <form id="{{form.id}}" class="uniForm" action="{% url geocal_verify_entry event.pk %}"
          method="post">{% csrf_token %}
        <div class="clearfix">
            <fieldset id="{{form.id}}_fieldset" class="inlineLabels">
                {{ form|as_uni_form }}
            </fieldset>
        </div>
        <div class="clearfix">
            <input type="submit" class="btn primary xlarge pull-left" value="{% trans "Check keyword!" %}"/>
        </div>
    </form>

{% endblock content %}
