{% extends "base.html" %}
{% load markup %}
{% load i18n %}


{% block content %}

    {% if error_message %}
        <div class="alert-message error">
            <a class="close" href="#">×</a>

            <p>{{ error_message }}</p>
        </div>
    {% endif %}

    <div class="alert-message info" data-alert="alert">
        <a class="close" href="#">x</a><p>This page contains {{ events|length }} events</p>
    </div>

    <h3 class="pull-right"><a href="{% url geocal_events_month events.0.entry_date.year events.0.entry_date.month %}">Back
        to
        calendar
        events</a></h3>
    
    {% for event in events %}
        <div class="events_list_box">
            <h3><a href="{% url geocal_verify_entry event.pk %}">{{ event.title }}</a></h3>

            <p>{{ event.description|markdown }}</p>
        </div>
    {% endfor %}


{% endblock content %}
